@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-overlay {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-blend-mode: darken;
}

.castContainer {
  display: grid;
  margin: 0 auto;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  width: 100%;

  @apply w-full px-0.5;
}

::-webkit-scrollbar {
  height: 12px;
  width: 5px;
  background: #0c1618;
}

::-webkit-scrollbar-thumb {
  background: #1e373c;
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background: #0c1618;
}
